<!-- Navbar -->


<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blitz</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Blitz Pro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About The App</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-dark" type="submit">
          
        </button>
        <button class="btn btn-dark" type="submit">
          <img src="http://depts.washington.edu/mtnhydr/src/MenuButton.png" style="width:15px;height:auto;">
        </button>
      </form>
    </div>
  </div>
</nav>