<!--League of Legends -->

<div class="mx-auto bg-dark">
    <img src="https://blitz-cdn-plain.blitz.gg/blitz/games/assest/wordmark/wordmark-lol.png" alt="League of Legends">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for Player Profiles, Champions, or Pro Players" aria-label="Search">
        <button class="btn" type="submit">
          <img src="https://toppng.com/uploads/preview/magnifying-glasses-icon-png-magnifying-glass-icon-free-sv-11563036016kdodmfkm7t.png" style="height: 35px; width: auto;">
        </button>
      </form>
      <nav class="MainHeaderView__LinkList-sc-55wzip-5 gDJtHq">
        <ul>
          <li class="type-body1">
            <a href="/lol/champions">Statistics</a>
          </li>
          <li class="type-body1">
            <a href="/lol/probuilds">Pro Builds</a>
          </li>
          <li class="type-body1">
            <a href="/lol/tierlist">Tier List</a>
          </li>
        </ul>
      </nav>
      
</div>
