<!--Fortnite  -->

<div class="mx-auto bg-dark">
    <img src="https://blitz-cdn-plain.blitz.gg/blitz/games/assest/wordmark/wordmark-fn.png" alt="Fortnite Logo">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for Player Profiles" aria-label="Search">
        <button class="btn" type="submit">
          <img src="https://toppng.com/uploads/preview/magnifying-glasses-icon-png-magnifying-glass-icon-free-sv-11563036016kdodmfkm7t.png" style="height: 35px; width: auto;">
        </button>
      </form>
      <nav class="MainHeaderView__LinkList-sc-55wzip-5 gDJtHq">
        <ul>
          <li class="type-body1">
            <a href="/fortnite/stats/weapons">Statistics</a>
          </li>
          <li class="type-body1">
            <a href="/fortnite/leaderboards">Leaderboard</a>
          </li>
        </ul>
      </nav>
      
</div>
