<!--Legends of Runeterra  -->

<div class="mx-auto bg-dark">
    <img src="https://blitz-cdn-plain.blitz.gg/blitz/games/assest/wordmark/wordmark-lor.png" alt="Legends of Runeterra Logo">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search player or card" aria-label="Search">
        <button class="btn" type="submit">
          <img src="https://toppng.com/uploads/preview/magnifying-glasses-icon-png-magnifying-glass-icon-free-sv-11563036016kdodmfkm7t.png" style="height: 35px; width: auto;">
        </button>
      </form>
      <nav class="MainHeaderView__LinkList-sc-55wzip-5 gDJtHq">
        <ul>
          <li class="type-body1">
            <a href="/lor/cards">Card Gallery</a>
          </li>
            <li class="type-body1">
              <a href="/lor/leaderboard">Leaderboard</a>
            </li>
          </ul>
      </nav>
      
</div>
