<!-- Download Free Button -->

<a type="link" label="[object Object]" target="_blank" rel="noopener noreferrer" class="Button__Anchor-sc-1v6rz56-0 dxzqJs button__download" href="https://blitz-stable.blitz.gg/Blitz-1.16.21.exe" to="https://blitz-stable.blitz.gg/Blitz-1.16.21.exe">
    <div class="icon-left">
        <svg viewBox="-450 0 500 500" class="createSvgIcon__Svg-sc-1l8xi8d-0 loXvaP">
            <title>windowsIcon</title>
            <path d="M14 4.667v10.667h-11.333v-9.109l11.333-1.558zM2.667 25.758v-9.091h11.333v10.667l-11.333-1.576zM14.667 27.302v-10.635h14.667v12.667l-14.667-2.031zM14.667 4.679l14.667-2.012v12.667h-14.667v-10.654z">
            </path>
        </svg>
    </div>
    <span>
        <span class="type-subtitle1">Download Free</span>
    </span>
</a>

